@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#grid-gallery-container{
    display:grid;
    grid-gap: 20px;
    font-family: sans-serif;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: minmax(min-content,auto);
    grid-template-areas:
    ". gall-head gall-head gall-head gall-head gall-head gall-head gall-head gall-head gall-head gall-head ."
    ". gall-body gall-body gall-body gall-body gall-body gall-body gall-body gall-body gall-body gall-body .";
}
#grid-gallery-container > *{
    border: none;
}
#gall-head{
    grid-area: gall-head;
    display: grid;
    grid-template-columns: 1fr .2fr;
    padding-top: 15px;
}
#gall-body{
    grid-area: gall-body;
}

#gallery{
    text-align: center;
    color: rgb(77, 75, 75);
    padding-left: 120px;
}
#gallery h1{
    font-size: 30px;
}
#search-form{
    text-align: center;
}
#search-form form #search{
    padding:5px;
}

.photo-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 200px;
    grid-gap: 20px;  
    grid-auto-flow: dense;
    margin: 5px;
}
.gallery-item{
    width:100%;
    height:100%;
    position: relative;
}
.gallery-item .image{
    width:100%;
    height:100%;
    overflow: hidden;
    box-shadow: 4px 4px 4px grey;
}
.gallery-item .image img{
    width:100%;
    height:100%;
    object-fit: cover;
    object-position: 50% 50%;
    cursor: pointer;
    transition: .5s ease-in-out;
    
}
.gallery-item:hover .image img{
    transform: scale(1.3);
}

@media only screen and (max-width: 700px){
    .photo-container{
        grid-template-columns: repeat(2,1fr);
    }
}
@media only screen and (max-width: 480px){
    .photo-container{
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 425px){
    #search-form{
        display: none;
        text-align: center;
    }
    #gall-head{
        grid-area: gall-head;
        display: grid;
        grid-template-columns: 1fr;   
    }
    #gallery{
        padding-left: 0;
    }
}